{
  "repos": [
    "user/repo",
    "org/repo",
    "alchemycodelab/caregiver-go",
    "alchemycodelab/yoyo-migration-server",
    "alchemycodelab/yoyo-server"
  ],
  "github_key":"<your github API key here>"
}